<li class="page-scroll home">
  <a href="#body">Home</a>
</li>
<li class="page-scroll">
  <a href="#about">About</a>
</li>
<li class="page-scroll">
  <a href="#bestoffers">Pricing</a>
</li>
<!-- <li class="page-scroll">
  <a href="#procedures">Procedures</a>
</li>
<li class="page-scroll">
  <a href="#advices">Advices</a>
</li>
<li class="page-scroll">
  <a href="#subscribe">Subscribe</a>
</li>
<li class="page-scroll">
  <a href="#gallery">Facility</a>
</li>
<li class="page-scroll">
  <a href="#products">Products</a>
</li> -->
<li class="page-scroll">
  <a href="#contact">Contact</a>
</li>
